@import url("fonts.import.less");
@import url("colors.import.less");
@import url("/packages/font-awesome-4-less/font-awesome.import.less");

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: @blue;
  height: 100%;
}

main {
  height: 100%;
}

nav {
  height: 45px;
  width: 100%;
  background: white;
  background: @blue-dark;
  border-bottom: 1px solid @blue-dark;
  text-align: center;
  color: white;
  position: fixed;
  z-index: 10;
  top: 0;
  .columns { padding-top: 13px; }
  .title { font-weight: 700; margin: 0; }
  .left { text-align: left; }
  .right { text-align: right; }

  button {
    background: rgba(0,0,0,0);
    margin-top: -10px;
    font-weight: 600;
  }
}

.nav-padded {
  padding-top: 45px;
}

// icons

.plus-button {
  #fa-icon(plus, white);
  font-size: 1.4em;
  margin-top: -1px;
}

.back-button {
  #fa-icon(chevron-left, white);
  font-size: 1.2em;
  margin-top: 1px;
}

.summary-button {
  #fa-icon(info, white);
  font-size: 1.3em;
  margin-top: -1px;
}

.settings-button {
  #fa-icon(cog, white);
  font-size: 1.3em;
  margin-top: -1px;
}

.check-button {
  #fa-icon(check, white);
  font-size: 1.2em;
  margin: 0px;
  background: none !important;
}

.search-button {
  #fa-icon(search, @gray);
  background: white;
  text-align: center;
}

// ===========
// Create Event Styles
// ===========

.createEventsInputs {
  padding: 0 5px;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  // background: #eee;
  border: none;
  form {
    margin: 0;
  }

  button {
    margin-top: -10px;
    margin-bottom: 0;
    background: rgba(0,0,0,0);
    width: 65px;
    font-weight: 500;
    font-size: 0.8em !important;
  }

  input {
    margin-bottom: 0px;
    background-color: white !important;
  }
}

.createStart {
  margin-top: 10px;
}

.createEnd {
  margin-top: 10px;
}

.invitees {
  margin-top: 10px;
}

.notes {
  margin-top: 10px;
  rows: 5;
}
