@import url("fonts.lessimport");
@import url("colors.lessimport");
@import url("/packages/font-awesome-4-less/font-awesome.import.less");

body {
  font-family: 'Open Sans', sans-serif;
  background: @blue;
}

nav {
  height: 45px;
  width: 100%;
  background: white;
  background: @blue-dark;
  border-bottom: 1px solid @blue-dark;
  text-align: center;
  color: white;
  position: fixed;
  z-index: 10;
  top: 0;
  .columns { padding-top: 13px; }
  .title { font-weight: 700; margin: 0; }
  .left { text-align: left; }
  .right { text-align: right; }
}

// icons

.plus-button {
  #fa-icon(plus, white);
  font-size: 1.4em;
  margin-top: -1px;
}

.back-button {
  #fa-icon(chevron-left, white);
  font-size: 1.2em;
  margin-top: 1px;
}

.summary-button {
  #fa-icon(info, white);
  font-size: 1.3em;
  margin-top: -1px;
}

