<template name="eventsList">
  <div class="eventsList">
    <div class="event">
      <div class="row">
        <div class="small-6 columns event-date small-labels">
          23/7/14
        </div>

      </div>
      <div class="row">
        <div class="event-details small-8 columns">
          <div class="row">
            <div class="event-name small-12 columns">
              Barbeque
            </div>
          </div>
          <div class="row">
            <div class="location-details small-12 columns">
              Mui Wo Beach
            </div>
          </div>
        </div>
        <div class="small-4 columns event-time small-labels">
          1pm - 3pm
        </div>
      </div>
      <div class="date"></div>
    </div>
    <div class="event">
      <div class="row">
        <div class="small-6 columns event-date small-labels">
          23/7/14
        </div>

      </div>
      <div class="row">
        <div class="event-details small-8 columns">
          <div class="row">
            <div class="event-name small-12 columns">
              Barbeque
            </div>
          </div>
          <div class="row">
            <div class="location-details small-12 columns">
              Mui Wo Beach
            </div>
          </div>
        </div>
        <div class="small-4 columns event-time small-labels">
          1pm - 3pm
        </div>
      </div>
      <div class="date"></div>
    </div>
  </div>
</template>