<template name="chat_box">
  <div class="chat_box">
    <div class="row">
      <div class="small-12 columns">
        {{> suggestions }}
        {{> smart_calendar}}
      </div>
    </div>
    <div class="row">
      <div class="small-1 columns">
        {{#if showHashButton }}
          <button id="map-button"></button>
        {{/if }}
        {{#unless showHashButton }}
          <button id="right-arrow-button"></button>
        {{/unless }}
      </div>
      <div class="small-11 columns">
        <form>
          <div class="row">
            <div class="small-9 columns">
              <input type="text" autocomplete="off" name="message" id="message">
            </div>
            <div class="small-3 columns center">
              <input type="submit" value="Send">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
