<template name="chatbox">
  <div class="chatbox">
    <div class="row">
      <div class="small-12 columns">
        {{> suggestions }}
      </div>
    </div>
    <div class="row">
      <div class="small-1 columns">
        <button id="hash-button">#</button>
      </div>
      <div class="small-11 columns">
        <form>
          <div class="row">
            <div class="small-9 columns">
              <input type="text" autocomplete="off" name="message" id="message">
            </div>
            <div class="small-3 columns center">
              <input type="submit" value="Send">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
