<template name="suggestions">
  <div id="suggestions">
    <div class="wrapper">
      <div class="suggestion">#loc</div>
      <div class="suggestion">#date</div>
      <div class="suggestion">#loc</div>
      <div class="suggestion">#date</div>
      <div class="suggestion">#loc</div>
      <div class="suggestion">#date</div>
      <div class="suggestion">#loc</div>
      <div class="suggestion">#date</div>
      <div class="suggestion">#loc</div>
      <div class="suggestion">#date</div>
      <div class="suggestion">#loc</div>
      <div class="suggestion">#date</div>
    </div>
  </div>
</template>