<template name="createEventsInputs">
  <div class="createEventsInputs">
    <div class="createEventTitleLocation">
      <form>
        <input type="text" name="title" placeholder="Title">
      </form>
      <form>
        <input type="text" name="location" placeholder="Location">
      </form>
    </div>
    <div class="createStart">
      <form>
        <input type="text" name="startDay" placeholder="Start Day" id="startDay">
      </form>
      <form>
        <input type="text" name="startTime" placeholder="Start Time" id="startTime">
      </form>
    </div>
    <div class="createEnd">
      <form>
        <input type="text" name="endDay" placeholder="End Day" id="endDay">
      </form>
      <form>
        <input type="text" name="endTime" placeholder="End Time" id="endTime">
      </form>
    </div>
  </div>
</template>
