<template name="createEventsInputs">
  <div class="createEventsInputs">
    <div class="createEventTitleLocation">
      <form>
        <input type="text" name="title" placeholder="Title">
      </form>
      <form>
        <input type="text" name="location" placeholder="Location">
      </form>
    </div>
    <div class="createEventTimes">
      <form>
        <input type="text" name="startTime" placeholder="Starts" id="datepicker">
      </form>
      <form>
        <input type="text" name="endTime" placeholder="Ends">
      </form>
    </div>
  </div>
</template>
