<template name="createEventsInputsNonMobile">
    <div class="createEventsInputs">
      <div class="createEventTitleLocation">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="location" placeholder="Location">
      </div>
      <div class="createStart">
        <input type="date" name="startDay" placeholder="Start Day" id="startDay">
        <input type="time" name="startTime" placeholder="Start Time" id="startTime">
      </div>
      <div class="createEnd">
        <input type="date" name="endDay" placeholder="Enter if End Day different from start day" id="endDay">
        <input type="time" name="endTime" placeholder="End Time" id="endTime">
      </div>
      <div class="invitees">
        <input type="text" name="invitees" placeholder="Invite your friends!" id="invitees">
      </div>
      <div class="notes">
        <input type="text" name="notes" placeholder="Notes" id="notes">
      </div>
    </div>
</template>
