<template name="friends">

  {{> friends_nav }}

  <div class="friends-search nav-padded">
    <div class="row">
      <div class="small-2 columns friends-button"></div>
      <div class="small-8 columns">
        <form action="#">
          <input type="search" placeholder="Type contact name">
        </form>
      </div>
      <div class="small-2 columns plus-circle-button"></div>
    </div>
  </div>
  <div class="friends">
    {{#each friends }}
      {{> friend }}
    {{/each }}
  </div>
</template>