<template name="poll">
  <div class="poll" data-id="{{_id}}">
    <div class="title">{{title}}</div>
    {{#each choices}}
      <div class="choice row">
        <div class="small-2 columns">
          <div class="count">
            {{vote_count votes}}
          </div>
        </div>
        <div class="small-6 columns desc">
          {{title}}
        </div>
        <div class="small-4 columns">
          {{#if voted votes}}
            <button class="tiny voted vote-button">Unvote</button>
          {{/if}}
          {{#unless voted votes}}
            <button class="tiny vote-button">Vote</button>
          {{/unless}}
        </div>
      </div>
    {{/each}}
  </div>
</template>
