<template name="eventsList">
  <div class="event">
    <div class="event-details small-7 columns">
      <div class="row">
        <div class="event-name small-12 columns">
          {{title}}
        </div>
      </div>
    </div>
    <div class="event-details small-5 columns">
      <div class="row">
        <div class="small-12 columns event-time small-labels">
          {{formatEventsListStartTime startDateTime}}
          {{formatEventsListEndTime endDateTime}}
        </div>
      </div>
    </div>
  </div>
</template>

      <!-- <div class="row">
        <div class="small-6 columns event-date small-labels">

        </div>
      </div> -->
          <!-- <div class="row">
            <div class="location-details small-12 columns">
              {{location}}
            </div>
          </div> -->
        <!-- <div class="small-4 columns event-time small-labels">
          {{formatEventsListStartTime startDateTime}}
          {{formatEventsListEndTime endDateTime}}
        </div>
      </div>
      <div class="date"></div> -->

      <!-- <div class="row">
        <div class="event-details small-8 columns">
          <div class="row">
            <div class="event-name small-12 columns">
              Barbeque
            </div>
          </div>
          <div class="row">
            <div class="location-details small-12 columns">
              Mui Wo Beach
            </div>
          </div>
        </div>
        <div class="small-4 columns event-time small-labels">
          1pm - 3pm
        </div>
      </div>
      <div class="date"></div> -->